button.submit {
  float: right;
}

form#reservationForm {
  margin-top: 50px;
}

#reservationForm textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}