/* ------------------------------ */
/* INDEX.HTML ONLY */

.indexPageBackgroundImage {
    width: 100%;
    height: auto;

    position: fixed;
    top: -40px;
    left: 60px;

    z-index: -2;
}

.indexPageMobileBackgroundImage {
    display: none;

    z-index: -2;
}

/* ------------------------------ */
/* ALL PAGES EXCEPT INDEX.HTML */

.backgroundImage {              
    width: 100%;
    height: auto;

    position: fixed;
    top: -40px;
    left: 60px;

    opacity: 0.03;

    z-index: -2;
}

.mobileBackgroundImage {        
    display: none;

    opacity: 0.03;

    z-index: -2;
}

.logoButton {
    cursor: pointer;
}

.logo {
    width: 80px;
    height: 80px;

    position: relative;
    left: 50%;
    transform: translate(-40px, 0px);
}

.pageHeading {
    width: 100%;

    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    
    position: relative;
    left: -1px;         /*  offset a little here because the font is italic and there is an optical illusion
                            happening with the text seeming to appear slightly to the right */
    top: 0px;
}

.mainContentContainer {
    background-color: none;     /* Set a color to see position of mainContentContainer on page */

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    position: relative;
    top: -28px;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */
/* When Screen Size Max-Width is 1030px */
/* (1024px is viewport width of iPad Pro in vertical) */
/* (1366px is viewport height of iPad Pro in vertical) */
@media screen and (max-width: 1030px) {

    /* ------------------------------ */
    /* INDEX.HTML ONLY */

    .indexPageBackgroundImage {
        width: auto;
        height: 100%;
    
        position: fixed;
        top: 0px;
        left: 50px;
    }

    /* ------------------------------ */
    /* ALL PAGES EXCEPT INDEX.HTML */

    .backgroundImage {
        width: auto;
        height: 100%;
    
        position: fixed;
        top: 0px;
        left: 50px;
    }

}

/* -------------------- */

/* When Screen Size Max-Width is 980px */
/* (768px is viewport width of iPad in vertical) */
/* (1024px is viewport height of iPad in vertical) */
@media screen and (max-width: 980px) {

}

/* -------------------- */

/* When Screen Size Max-Width is 750px */
/* (375px is viewport width of iPhone X in vertical) */
@media screen and (max-width: 750px) {
    
    /* ------------------------------ */
    /* INDEX.HTML ONLY */

    .indexPageBackgroundImage {
        display: none;
    }

    .indexPageMobileBackgroundImage {
        display: block;

        width: 100%;
        height: auto;

        position: fixed;
        top: -50px;
        left: 0px;
    }

    /* ------------------------------ */
    /* ALL PAGES EXCEPT INDEX.HTML */
    
    .backgroundImage {
        display: none;
    }

    .mobileBackgroundImage {
        display: block;

        width: 100%;
        height: auto;

        position: fixed;
        top: -50px;
        left: 0px;
    }

}