/* TOP BAR AND BRANDING TEXT */

/* Top Bar */
.topBar {
    display: none;  /* topBar is set to be hidden.  To make topBar visible, set display: block */

    width: 100%;
    height: 54px;
    background-color: blue;
    
    position: fixed;
    top: 0;
    left: 0;
}

/* Branding */
.branding {
    display: none;  /* branding is set to be hidden.  To make branding visible, set display: block */

    color: black;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 32px;

    position: relative;
    top: 14px;
    left: 12px;
}

/* ---------------------------------------- */
/* HAMBURGER MENU ICON */

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    position: fixed;
    right: 0px;
    top: 0px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #FFC948;
    color: black;
}

/* ---------------------------------------- */
/* OVERLAY MENU */

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS file) */    
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.9;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 19%; /* Percentage from the top */
    left: -1px; /*  offset a little here because the font is italic and there is an optical illusion
                    happening with the text seeming to appear slightly to the right */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* -------------------- */
/* The navigation links inside the overlay */
.overlay a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 45px;
    color:white;
    display: block; /* Display block instead of inline */
    cursor: pointer;
    transition: 0.3s; /* Transition effects on hover (color) */  
}
  
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #FFC948;
    font-size: 55px;
}

/* -------------------- */
/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 45px;
    font-size: 100px;
    cursor: pointer;
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* close button hover */
.overlay .closebtn:hover {
    top: -26px;
    right: 35px;
    font-size: 140px;
}

/* -------------------- */
/* Non-Active button */
.nonActiveButton {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 45px;
    color: white;
    display: block; /* Display block instead of inline */
    cursor: pointer;
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* Non-Active button hover */
.nonActiveButton:hover {
    font-size: 55px;
    color: #FFC948;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}

/* ---------------------------------------- */

/* When Screen Size Max-Width is 1030px */
/* (1024px is viewport width of iPad Pro in vertical) */
/* (1366px is viewport height of iPad Pro in vertical) */
@media screen and (max-width: 1030px) {

}

/* -------------------- */

/* When Screen Size Max-Width is 980px */
/* (768px is viewport width of iPad in vertical) */
/* (1024px is viewport height of iPad in vertical) */
@media screen and (max-width: 980px) {

    .overlay-content {
        top: 24%;
    }

}

/* -------------------- */

/* When Screen Size Max-Width is 750px */
/* (375px is viewport width of iPhone X in vertical) */
@media screen and (max-width: 750px) {

    .overlay-content {
        top: 20%;
    }

    .overlay a {
        font-size: 30px;
    }

    .overlay a:hover, .overlay a:focus {
        font-size: 30px;
    }

    .overlay .closebtn {
        position: absolute;
        top: 12px;
        right: 30px;
        font-size: 70px;
    }

    .overlay .closebtn:hover {
        position: absolute;
        top: 12px;
        right: 30px;
        font-size: 70px;
    }

    /* Non-Active button */
    .nonActiveButton {
        font-size: 30px;
    }

    /* Non-Active button hover*/
    .nonActiveButton:hover {
        font-size: 30px;
    }

}