.navigationContainer {
    width: 300px;
    height: 520px;

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;

    background-color: white;

    opacity: 0.9;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150px, -260px);
}

.indexPageLogo {
    width: 260px;
    text-align: center;

    position: relative;
    top: 20px;
    left: 20px;
}

.openingPageBranding {
    width: 100%;

    background-color: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 100px;

    position: absolute;
    top: 33%;
}

.openingPageButtonsContainer {
    width: 100%;

    text-align: center;
    
    position: absolute;
    top: 50%;
}

.openingPageButton {
    width: 170px;

    margin: 5px 5px 5px 5px;
}



/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */
/* When Screen Size Max-Width is 1030px */
/* (1024px is viewport width of iPad Pro in vertical) */
/* (1366px is viewport height of iPad Pro in vertical) */
@media screen and (max-width: 1030px) {



}

/* -------------------- */

/* When Screen Size Max-Width is 980px */
/* (768px is viewport width of iPad in vertical) */
/* (1024px is viewport height of iPad in vertical) */
@media screen and (max-width: 980px) {



}

/* -------------------- */

/* When Screen Size Max-Width is 750px */
/* (375px is viewport width of iPhone X in vertical) */
@media screen and (max-width: 750px) {

    .openingPageBranding {
        font-size: 70px;

        position: absolute;
        top: 25%;
    }

    .openingPageButtonsContainer {
        width: 100%;

        text-align: center;
        
        position: absolute;
        top: 45%;
    }

}