form#reservationForm {
  margin-top: 50px;
}

#reservationForm textarea {
  resize: none;
}

button.submit {
  width: 100px;
  height: 40px;

  padding: 0px 3px 0px 0px;   /* Offset button text position to compensate for the italic font and the optical illusion it creates */
  border: none;
  border-radius: 5px;

  background-color: #FFC948;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;

  float: right;
}

button.submit:hover {
  background-color: black;
  color: white;
}

button.submit:focus {
  outline: 0;         /* This gets rid of the blue outline around the button when the button is clicked */
}